<footer class="fixed-bottom" role="contentinfo">
  <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }}. Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>. Hosted by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.
  </div>
</footer>
